#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 45px 80px 0 110px;
}

main {
  display: flex;
  align-items: center;
  flex: 1;
}

.app__image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.app__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90.18deg, rgba(13, 22, 46, 0.7) 23.21%, rgba(13, 22, 46, 0.0001) 96.69%);
}

.app__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: flex;
  align-items: stretch;
  -moz-column-gap: 24px;
       column-gap: 24px;
  width: 100%;
  height: 48px;
  margin-top: 28px;
}

.form input {
  flex: 1;
  border: 0;
  height: 100%;
  border-radius: 6px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.form input::-moz-placeholder {
  color: #c0c0c0;
}

.form input:-ms-input-placeholder {
  color: #c0c0c0;
}

.form input::placeholder {
  color: #c0c0c0;
}

.form button {
  width: 48px;
  border: 0;
  border-radius: 6px;
  background: var(--linear);
  font-size: 1.5rem;
  font-weight: 700;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.button__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 46px;
  z-index: 2;
  background: transparent;
}

.button__menu span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background: white;
  transition: all 0.5s;
}

.button__menu span:last-child {
  width: 45%;
}

.button__menu.active span:last-child {
  width: 100%;
  transform: rotate(45deg) translateY(-17px);
}

.button__menu.active span:nth-child(1) {
  transform: rotate(-45deg) translateY(18px);
}

.button__menu.active span:nth-child(2) {
  opacity: 0;
}

.feature__movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.feature__movie span, .rating strong, .feature__movie button {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.rating strong {
  font-weight: 600;
}

.feature__movie h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

.feature__movie p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  width: 100%;
  max-width: 540px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.feature__movie button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 20px;
  width: 250px;
  height: 70px;
  padding: 0 42px;
  border-radius: 70px;
  background: var(--linear);
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.160784);
  transition: filter 0.6s;
}

.feature__movie button:hover {
  filter: brightness(0.85);
}

#movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 16px;
  margin-top: 48px;
  list-style: none;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding-left: 10px;
  padding-bottom: 16px;
  width: 265px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-image: linear-gradient(180deg, rgba(14, 23, 47, 0.0001) 11.72%, #0E172F 100%);
}

.movie span {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.movie strong {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.movie button {
  position: absolute;
  inset: 0;
  margin: auto;
  background: transparent;
  width: 36px;
  height: 36px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s;
}

.movie:hover button {
  opacity: 1;
  transform: translateY(0);
}

.movie__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.6s;
}

.movie__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie.active-movie .movie__image {
  filter: grayscale(1);
  opacity: 0.5;
}

.movie.active-movie button {
  display: none;
}

.navigation {
  position: fixed;
  top: 0;
  right: -660px;
  width: 660px;
  height: 100%;
  padding-top: 66px;
  padding-left: 54px;
  padding-right: 80px;
  background: #093f7a;
  transition: all 0.6s;
}

.navigation.active {
  transform: translateX(-660px);
}

.navigation h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
body, button, textarea, input {
  color: #FFFFFF;
  font: 400 1rem "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */